modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["pnpm", "--filter", "@workspace/api-server", "run", "start"]
build = ["pnpm", "--filter", "@workspace/api-server", "run", "build"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "ab17bc176fb1ec8e2f6a334d80f269324508a7868f0e2714b95d3932c1eb882b5ed8b7a9b0f10296755597479f6d2c52"
CUSTOM_DOMAIN = "goldy.team"
